@import "../../../assets/css/base.scss";

.zmiti-index-main-ui {
  width: 100%;
  height: 100%;
  @include transition(.3s);
  left: 0;
  top: 0;

  &.active {
    @include transform(translate(0, 0) scale(1));
  }
  &.left {
    @include transform(translate(-100%, 0) scale(0.8));
  }
  @mixin animate($delay) {
    @include animation(opacity 2s $delay linear forwards);
  }
  @mixin rotate($delay) {
    @include animation(rotate1 .8s $delay*1.5 linear forwards);
  }
  $time: 800ms;

  .zmiti-logo {
    width: 3rem;
    @include pos(a);
    right: .5rem;
    top: 1.6rem;
  }
  .zmiti-img-C {
    @include pos(a);
    width: 8rem;
    left: -1.3rem;
    top: .5rem;
    opacity: 0;
    height: 10rem;
    @include animate($time);

    img {
    }
  }
  .zmiti-img1 {
    width: 7rem;
    opacity: 0;
    @include rotate($time);
  }
  .zmiti-img2 {
    @include pos(a);
    bottom: -1.5rem;
    left: 1rem;
    width: 5rem;
    z-index: 10;
    opacity: 0;
    @include rotate($time*4);
  }
  .zmiti-img3 {
    @include pos(a);
    bottom: -2.2rem;
    right: -2.8rem;
    width: 5rem;
    opacity: 0;
    z-index: 12;
    @include rotate($time*5);
  }
  .zmiti-img4 {
    @include pos(a);
    top: 5rem;
    left: 1rem;
    width: 5rem;
    opacity: 0;
    @include rotate($time*2);
  }
  .zmiti-img5 {
    @include pos(a);
    top: 4rem;
    left: 4rem;
    width: 5rem;
    opacity: 0;
    @include rotate($time*3);
  }
  .zmiti-flower {
    width: 3.5rem;
    @include pos(a);
    right: 0;
    top: 3rem;
    opacity: 0;
    @include animate($time*4);
  }
  .zmiti-text {
    @include pos(a);
    width: 5rem;
    bottom: 1.2rem;
    left: 1rem;
    opacity: 0;
    @include animate($time*5);
  }
  .zmiti-begindo {
    @include pos(a);
    width: 3rem;
    bottom: .5rem;
    left: 5.5rem;
    opacity: 0;
    @include animate($time*6);
  }
}
@-webkit-keyframes opacity {
  to {
    opacity: 1;
  }
}
@-webkit-keyframes rotate1 {
  from {
    @include transform(translate3d(-200px, 0, 0) rotate(1680deg));
  }
  to {
    opacity: 1;
    @include transform(rotate(0) translate3d(0, 0, 0));
  }
}
@media all and (max-height:612px) and (min-width:412px) {
  .zmiti-text {
    bottom: .4rem !important;
  }
  .zmiti-begindo {
    bottom: .1rem !important;
    left: 6rem !important;
  }
}