@import "../../../assets/css/base.scss";

.zmiti-result-main-ui {
  @include pos(a);
  @include transition(.3s);
  left: 0;
  top: 0;
  width: 10rem;
  height: 100%;

  &.active {
    @include transform(translate(0, 0) scale(1));
    z-index: 100;
  }
  &.left {
    @include transform(translate(-50%, 0) scale(1));
  }
  &.right {
    @include transform(translate(100%, 0) scale(.8));
  }
  @include displayBox(vertical);

  .zmiti-result-main-content {
    width: 10rem;

    .zmiti-result-img {
      @include pos(r);
      width: 8rem;
      margin: 0 auto;
      height: 5rem;
      overflow: hidden;

      img {
        @include pos(a);
        left: 0;
        top: 0;
      }
    }
    .zmiti-wish-C {
      width: 8rem;
      height: 5rem;
      margin: 1rem auto;

      div {
        line-height: 1.1rem;
        width: 70%;
        text-indent: 2em;
        margin: 0 auto;
        @include pos(r);
        top: .6rem;
      }
    }
    .zmiti-btn-group {
      @include displayBox(horizontal);
      width: 8rem;
      margin: 1rem auto;

      &>aside {
        -webkit-box-flex: 1;
        margin: 0 10px;
      }
    }
  }
  .zmiti-mask {
    z-index: 1000;
  }
}