@import "../../../assets/css/base.scss";

.zmiti-result-main-ui {
  @include pos(a);
  @include transition(.3s);
  left: 0;
  top: 0;
  width: 10rem;
  height: 100%;

  &.active {
    @include transform(translate(0, 0) scale(1));
    z-index: 100;
  }
  &.left {
    @include transform(translate(-50%, 0) scale(1));
  }
  &.right {
    @include transform(translate(100%, 0) scale(.8));
  }
  @include displayBox(vertical);

  .zmiti-result-main-content {
    width: 10rem;

    .zmiti-result-img {
      @include pos(r);
      width: 7rem;
      margin: 0 auto;
      height: 7rem;
      overflow: hidden;

      &>div {
        @include pos(a);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
      }
      .zmiti-file-img {
      }
      img {
        @include pos(a);
        left: 0;
        top: 0;
      }
    }
    .zmiti-wish-C {
      width: 7rem;
      height: 4rem;
      margin: .5rem auto;

      div {
        line-height: .9rem;
        width: 70%;
        text-indent: 2em;
        margin: 0 auto;
        @include pos(r);
        top: .5rem;
      }
    }
    .zmiti-btn-group {
      @include displayBox(horizontal);
      width: 8rem;
      margin: .5rem auto;

      &>aside {
        -webkit-box-flex: 1;
        margin: 0 10px;
      }
    }
  }
  .zmiti-mask {
    z-index: 1000;
  }
}
@media all and (max-height:612px) and (min-width:412px) {
  .zmiti-result-main-content {
    .zmiti-btn-group {
      margin: .2rem auto !important;
    }
  }
}