@import "../../../assets/css/base.scss";

.zmiti-chooseborder-main-ui {
  @include pos(a);
  @include transition(.3s);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  &.active {
    @include transform(translate(0, 0) scale(1));
    z-index: 100;
  }
  &.left {
    @include transform(translate(-100%, 0) scale(0.8));
  }
  &.right {
    @include transform(translate(100%, 0) scale(.8));
  }
  @include displayBox(vertical);

  .zmiti-chooseborder-main-content {
    width: 9.9rem;

    ul {
      height: 9.9rem;
      box-sizing: border-box;

      li {
        width: 50%;
        float: left;
        box-sizing: border-box;
        @include pos(r);

        img {
          @include pos(r);
          z-index: 1;
        }
        .zmiti-file {
          @include pos(a);
          left: 0;
          top: 0;
          z-index: 0;
        }
        .zmiti-border-active {
          @include pos(a);
          z-index: 0;
          left: 0;
          top: 0;
          z-index: 10;
        }
        &:before {
          content: '';
          @include pos(a);
          box-shadow: 0 0 2px rgba(0, 0, 0, 5) inset;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
    .zmiti-btn-groups {
      @include displayBox(horizontal);
      width: 4rem;
      margin: 1rem auto;

      &>aside {
        -webkit-box-flex: 1;
        margin: 0 10px;
      }
    }
  }
}